/* reset */
body, p, div, ul, li {
	margin: 0;
	padding: 0;
}
a {
	color: #eb9272;
}
a:hover {
	color: #b05e3f;
}

body {
	background: #fbecbf;
	/*color: #616575;*/
	font-family: Helvetica, "Hiragino Sans GB", Tahoma, "Microsoft Yahei", Arial;
	font-size: 16px;
}

/* layout */
#mainContainer {
	width: 320px;
	margin: 0 auto;
	height: 670px;
	background: url(img/bg.png) no-repeat;
	background-size: 320px;
}
.top {
	height: 230px;
}
.main {
	width: 280px;
	margin-top: 100px;
	margin: 0 auto;
	position: relative;
}
.footer {
	width: 280px;
	margin: 40px auto 20px;
	position: relative;
}

/* main */
.envelope_top {
	width: 216px;
	height: 80px;
	margin: 0 auto;
	background: url(img/envelope_top.png) no-repeat;
	background-size: 216px;
}
.envelope_top.disabled {
	background-image: url(img/envelope_top_disabled.png);
}
.envelope_top span {
	text-align: center;
	font-size: 24px;
	font-family: "Hiragino Sans GB", Tahoma, "Microsoft Yahei", Arial;
	display: block;
	padding-top: 24px;
	color: white;
}
.envelope_middle {
	width: 216px;
	height: 69px;
	margin: 0 auto;
	background: url(img/envelope_middle.png) no-repeat;
	background-size: 216px;
}
.envelope_bottom {
	width: 216px;
	height: 232px;
	margin: 0 auto;
	background: url(img/envelope_bottom.png) no-repeat;
	background-size: 216px;
}
.envelope_logo {
	position: absolute;
	width: 320px;
	height: 43px;
	margin: 0 auto;
	top: 90px;
	left: 120px;
}
.envelope_logo img {
	height: 43px;
	width: 43px;
}

.notice p {
	background-color: #c43329;
	color: #fff0bb;
	padding: 4px 8px;
	margin-bottom: 20px;
	border-radius: 8px;
}
.notice img.logo {
	width: 150px;
	height: 150px;
	display: block;
	margin: 0 auto;
}
.notice a {
	display:block;
	margin: 10px auto 0;
}

.margin {
	height: 20px;
}

.main_share {
	height: 40px;
	width: 200px;
	margin: 0 auto;
	background-color: #b61f2a;
	box-shadow: 0px 4px 2px #851a20;
}

.main_share p {
	padding-top: 7px;
	text-align: center;
	color: #fbecbf;
	font-size: 20px;
	letter-spacing: 1px;
}

table.record {
	border-spacing: 0;
	margin: 40px auto 0;
}
table.record tr:nth-child(odd) {
	background-color: #fbe9b4;
}
table.record tr:nth-child(even) {
	background-color: #f0db9b;
}
table.record td {
	text-align: center;
	color: #53420e;
	padding: 6px;
}
table.record td.name {
	width: 80px;
}
table.record td.msg {
	width: 200px;
}
table.record td span.highlight {
	color: #d40000;
}
table.record td a.more {
	color: #eb9272;
}
table.record td a.more:hover {
	color: #b05e3f;
}


/* footer */
.footer a.rule {
	display: block;
	text-align: center;
	margin-bottom: 15px;
}
.footer img.logo {
	display: block;
	margin: 0 auto;
	width: 62px;
	height: 33px;
}
.footer img.miku {
	width: 88px;
	height: 188px;
	position: absolute;
	bottom: 2px;
	right: -10px;
}